@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root,
body {
  width: 100vw; /* 100% of the viewport width */
  margin: 0; /* Remove margins to avoid offset */
  padding: 0; /* Optional: to remove default padding */
}

.center {
  max-width: 1440px;
  margin: 0 auto;
}

button {
  background-color: rgb(254, 74, 48);
  color: white;
  border: none;
  margin-top: 18px;
  width: 201px;
  height: 33px;
  text-align: center;
  border-radius: 16px;
  font-size: small;
}

button:hover{
  cursor:pointer;
}